* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
a { text-decoration: none; color: inherit; }

img, video, svg { height: auto; max-width: 100%; }

:root{
    --bg-light: #eefbfd;
    --bg-dark: #0e2c3e;
    --text-color: #0e2c3e;
    --text-light-color: #eefbfd;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-light);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
}

header {
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/portada_malvinas.png) center;
    background-size: cover;
    color: var(--text-light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    max-width: 350px;
}
header h2 {
    font-size: 18px;
}

#btn-acceder {
    align-self: flex-start;
    color: var(--text-color);
    background-color: var(--bg-light);
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    border: 0;
}
#btn-acceder:hover{
    background-color: #d4f3f9;
}
#btn-acceder:active{
    background-color: var(--bg-dark);
    color: var(--text-light-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: flex-end;
    font-weight: 300;
}

.navbar li a {
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-light-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.navbar .selected {
    font-weight: 900;
    position: relative;
}

.navbar .selected:hover::before{
    height: 0;
}

.navbar .selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-light-color);
}

.div-oscuro{
    background-color: var(--bg-dark);
    color: var(--text-light-color);
}

main {
    flex: 1;
}

.main-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**  Banner **/
.banner {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
}

.marquee span {
    color: #0e2c3e;
    font-size: 24px;
    font-weight: bold;
}

.section-inicio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 75%;
    margin-block: 6px;
}

.section-inicio h2{
    padding-left: 5px;
    text-decoration: underline;
}

.section-inicio div {
    max-width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section-inicio img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
}

footer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.footer-info {
    list-style: none;
}

.footer-info li {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block: 8px;
}

.footer-info i {
    width: 20px;
    text-align: center;
}

footer img {
    width: auto;
    height: 80px;
}

/** Ventana de logueo **/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: #ffffff;
    width: 350px;
    height: 380px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.popup h2 {
    font-size: 18px;
}

.popup label {
    margin-top: 16px;
    text-align: left;
}

.popup input {
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup input:focus {
    outline: 0;
    border-color: var(--bg-dark)
}

.popup a {
    font-size: 14px;
    color: #1f536b;
    text-decoration: none;
}

.popup a:hover {
    text-decoration: underline;
}

.popup button {
    margin-top: 20px;
    padding-block: 12px;
    padding-inline: 18px;
    background-color: var(--bg-dark);
    color: var(--text-light-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

.popup button:hover {
    background-color: #1e455b;
}

/* Pagina nosotros */

.main-secundario {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-inline: 50px;
    justify-content: space-evenly;
}

.selectors{
    width: 15%;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
    position: relative;
}

.selectors:after {
    content: '';
    position: absolute;
    width: 2px;
    height: -webkit-fill-available;
    right: 0;
    background-color: var(--bg-dark);
}

.selectors a{
    margin-left: 40px;
}

.section-secundaria{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.section-secundaria h2{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.text-secundaria p{
    margin-top: 5px;
    margin-left: 25px;
}